<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png">

    <title>Find Jobs!</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
 --> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<style>
.container{
    margin-top:30px;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
}

</style>
</head>
<body><br><br><br><br><br>
<h2 style="margin-left:400px">Enter either the Location or the location and keyword both</h2>
<br><br><br>

                <div style="margin-left:600px">
                    <form class="form-inline" method="POST" role="form" action="/search/formData">
                    {% csrf_token %}
                        <div class="form-group">    
                            <input type="text" class="form-control" name='location' placeholder="Location"> 
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="form-group">    
                            <!-- <input type="text" class="form-control" name='keyword' placeholder="Keyword">  -->
                            <select class="form-control" name="keyword">
                              <option value="">Select Keyword</option>
                              <option value="business">Business</option>
                              <option value="finance">Finance</option>
                              <option value="manage">Management</option>
                              <option value="customer">Customer Service</option>
                              <option value="sales">Sales</option>
                              <option value="operation">Operations</option>
                              <option value="marketing">Marketing</option>
                              <option value="human resource">Human Resource</option>
                            </select>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="form-group">    
                            <!-- <input type="text" class="form-control" name="startup" placeholder="Startup..">
                            <br>
                        <br> -->
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-default filter-col">
                                <span class="glyphicon glyphicon-record"></span> Search Jobs
                            </button>  
                        </div>
                    </form>
    </div>


</body>
</html>
